@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@300&display=swap');
:root{
	--clr-dark-blue : #27374D;
	--clr-grey-board: #526D82;
	--clr-green: #8EAC50;
	--clr-yellow: #F2BE22;
	--clr-pink: #FF78C4;
	--clr-red: #F24C3D;
	--clr-blue:#19A7CE;
	--clr-purple:#AA77FF;
	--clr-dark-red: #B31312;
	--clr-white:#ECF8F9;
}

*{
	box-sizing: border-box;
	background-color: var(--clr-dark-blue);
}
body{
	margin: 40px;
	display:flex;
	gap:10px;
	color:var(--clr-white);
	font-family: 'Koulen', cursive;

}

section{
	padding: 20px;
	border-radius: 15px;
	background-color: var(--clr-grey-board);
	width: 50%;
	height: 45rem;
	overflow-y: scroll;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
}

aside{
	/*border: 2px solid orange;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width:50%;
}

h1{
	text-align: center;
	/*border: 2px red solid;*/
	font-size: 3rem;
	letter-spacing: 3px; 
}

h4{
	/*border: 2px red solid;*/
	font-size: 1rem;
	letter-spacing: 2px; 
}

p{
	/*border: 2px red solid;*/
	display: block;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	 line-height: 30px;
}

h3{
	/*border: 2px solid red;*/
	font-size: 3rem;
	display: none;
}

.combos{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 15px;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
	margin:20px auto;
	height: 90px;
	width:80%;
}

.color_circle{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #ECF8F9;
}

.feedback{
	width: 70px;
	height: 70px;
	background-color: var(--clr-grey-board);
	border-radius: 15px;
	opacity: 100%;
	display: grid;
	grid-template-columns: 30px 30px;
	align-items: center;
	justify-content: center;
}

.match{
	margin:0 auto;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.choice{
	/*border: 2px red solid;*/
	display: inline-block;
	justify-content: center;
	width: 260px;
}

#m-white{
	background-color: var(--clr-white);
}
#m-red{
	background-color: var(--clr-dark-red);
}
#play-again{
	border-radius: 15px;
	width: 150px;
	margin-top: 50px;
	padding: 15px;
	color: #27374D;
	font-size: 1rem;
	font-weight: 600;
}
#play-again:hover{
	color:#ECF8F9;
}

button{
	margin: 10px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #ECF8F9;
	border: none;
	cursor: pointer;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.352);
}
button:hover{
	background-color: #526D82;
	opacity: 80%;
}
#green{
	background-color: var(--clr-green);
}
#yellow{
	background-color: var(--clr-yellow);
}
#pink{
	background-color: var(--clr-pink);
}
#red{
	background-color: var(--clr-red);
}
#blue{
	background-color: var(--clr-blue);
}
#purple{
	background-color: var(--clr-purple);
}
span{
	font-weight: 600;
}

.reveal-combo{
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	/*border: 1px solid red;*/
	width: 300px;
}